In [1]:
#import the environments
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sms = pd.read_csv('SMSSpamCollection.csv')

In [3]:
sms.head()

  ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
0                 ham\tOk lar... Joking wif u oni...
1  spam\tFree entry in 2 a wkly comp to win FA Cu...
2  ham\tU dun say so early hor... U c already the...
3  ham\tNah I don't think he goes to usf, he live...
4  spam\tFreeMsg Hey there darling it's been 3 we...

In [4]:
sms.tail()

     ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
5568  spam\tThis is the 2nd time we have tried 2 con...
5569          ham\tWill ü b going to esplanade fr home?
5570  ham\tPity, * was in mood for that. So...any ot...
5571  ham\tThe guy did some bitching but I acted lik...
5572                    ham\tRofl. Its true to its name

In [5]:
sms.shape

(5573, 1)

In [6]:
sms.describe()

       ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
count                                                5573
unique                                               5159
top                           ham\tSorry, I'll call later
freq                                                   30

In [7]:
sms.columns

Index(['ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'], dtype='object')

In [8]:
sms.nunique()

ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...    5159
dtype: int64

In [9]:
sms.isnull().sum()

ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...    0
dtype: int64

In [10]:
correlation=sms.corr()

In [11]:
sns.set_style('whitegrid')

In [12]:
sms.describe()

       ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
count                                                5573
unique                                               5159
top                           ham\tSorry, I'll call later
freq                                                   30

In [13]:
sms.isnull

<bound method DataFrame.isnull of      ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
0                    ham\tOk lar... Joking wif u oni...
1     spam\tFree entry in 2 a wkly comp to win FA Cu...
2     ham\tU dun say so early hor... U c already the...
3     ham\tNah I don't think he goes to usf, he live...
4     spam\tFreeMsg Hey there darling it's been 3 we...
...                                                 ...
5568  spam\tThis is the 2nd time we have tried 2 con...
5569          ham\tWill ü b going to esplanade fr home?
5570  ham\tPity, * was in mood for that. So...any ot...
5571  ham\tThe guy did some bitching but I acted lik...
5572                    ham\tRofl. Its true to its name

[5573 rows x 1 columns]>