In [1]:
# Machine Learning
# It focuses on algorithms, Models that computer to learn and predict!
# Machine learning -> making a computer to learn and understand the data
# Application of Machine Learning
#__summary
#1.Image Processing
#2.Fraud detection
#3.Speech Recognisition


#Approaches to Machine Learning
#-Supervised Learning: dataset that is labeled, one can predict, Linear Regression,
#decision tree, support vector machine, neural networks(Supervised Learning algorithm)
#-Unsupervised Learning: Deals with unlabeled data, clustering algorithms group data together.
#k-means clustering, hierarchical Clustering, PCA(Principal Component Analysis)
#-Reinforcement Learning


# Problem Formulation
#1. Define the problem!-> Classification task, Regression Analysis, Clustering, Anomaly detection, recommendations.
#2. Gathering data.
#3.Split the data.
#20. 80

#Data types
#Categories of data!
#1. Numerical data! can be discrete(Integer), or continuous(infinite values)
#2. Categorical can not be measured against each other
#3. Ordinal measure against each other

# check if there is scitkit-learn
# pip install -u
# pip show scikit-learn

In [2]:
import numpy as np # Linear algebra
import pandas as pd # Data processing, csv file(pd.read_csv)
import matplotlib.pyplot as plt # Plotting/ Data visualization
import seaborn as sns # Statistical data visualization
#%matplotlib_inline

# ML for Regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, r2_score

#Control display ! this is original
#pd.options.display.max_columns
# Ignore warnings
# import warnings
#warning.filterwarning('ignore')

In [3]:
df = pd.read_csv('heart_disease.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
df.head(15)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
11,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
12,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
13,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0
14,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0

In [5]:
"""__summary
cp = chest pain
trestbp= resting blood pressure
chol = cholesterol
fbs=fasting blood sugar
restecg=resting elctrocardiography
exang = exercise induced again
oldpeak= ST depression induced
slope = the slope of peak exercise
ca = number of major vessel
thal = normal, texted defect, reversible defect
target = have disease or not (1=yes, 0=no)
"""

'__summary\ncp = chest pain\ntrestbp= resting blood pressure\nchol = cholesterol\nfbs=fasting blood sugar\nrestecg=resting elctrocardiography\nexang = exercise induced again\noldpeak= ST depression induced\nslope = the slope of peak exercise\nca = number of major vessel\nthal = normal, texted defect, reversible defect\ntarget = have disease or not (1=yes, 0=no)\n'

In [6]:
# Show number of people with disease
#Column target
df.target.value_counts()

1    526
0    499
Name: target, dtype: int64

In [7]:
# Show percentage of male and female
count_female = len(df.sex == 0)
count_male = len(df.sex == 1)

#Show the outprint
print('Percentage of female patient: {:.2f}%'.format(count_female/len(df.sex)*100)
print('Percentage of Male patient: {:.2f}%'.format(count_male/len(df.sex)*100)

SyntaxError: '(' was never closed (2993680704.py, line 7)

In [ ]:
df.groupby('target').mean()

In [ ]:
# Barplot showing heart disease frequency of age
pd.crosstab(df.age, df.target).plot(kind='bar', figsize=(20,6))
plt.title('Heart Disease Frequency for ages')
plt.xlabel('Age')
plt.ylabel('Target')
plt.show()

In [ ]:
# Data visualization of heart disease Frequency for sex

pd.crosstab(df.sex, df.target).plot(kind='bar', figsize=(20,6), color=['red', 'blue'])
plt.title('Heart Disease Frequency for Sex')
plt.xlabel('Sex (male=1, female=0)')
plt.legend(['Have Disease','Does not have disease'])
plt.ylabel('Frequency')
plt.xticks(rotation=0)
plt.show()

In [ ]:
#select the variables
age = df['age']
cholesterol = df['chol']
# Create a scatter plot
plt.scatter(age, cholesterol)

# Add title and labels
plt.title("Age vs Cholesterol")
plt.xlabel("Age")
plt.ylabel("Cholesterol")

#Show plot
plt.show()

In [ ]:
# Working with ML Accuracy of different ML more
# Create Model for Logic Regression

In [ ]:
#
y = df.target.values
x_data = df.drop(['target'], axis=1)

In [ ]:
# Normalize data the data! Split our data for training and testing
# 80% training and 20% testing
# Normalize the data X=(x-Xmax)/(Xmax-Xmin)
x = (x_data - np.min(x_data))/(np.max(x_data) - np.min(x_data))

In [ ]:
# Slite the data 70% # 30% training
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 0)

#Logistic regression, testing and traing, Independent variables and dependent variables
#Decision tree

In [ ]:
# Transpose matrices
x_train = x_train.T
y_train = y_train.T
x_test = x_test.T
y_test = y_test.T

In [ ]:
# Extract the 'age' and 'cholesterol' columns fro  the dataset
age = df['age']
chol = df['chol']

# Create a 2D histogram using the 'age' and 'cholesterol' data
heatmap, xedges, yedges = np.histogram2d(age, chol, bins=20)

# Plot the heatmap
plt.imshow(heatmap.T, origin='lower', cmap='hot', interpolation='nearest')
plt.colorbar(label='Frequency')
plt.xlabel('Age')
plt.ylabel('Cholesterol')
plt.title('Age and Cholesterol')
# plt.xticks(np.arrange(len(xedges)), xedges.round(0))
# plt.yticks(np.arrange(len(yedges)), yedges.round(0))
plt.show()

# Decision tree
-><br>
-><br>
-><br>
-><br>

In [ ]:
for column in df:
    unique_values = np.unique(df[column])
    nr_values = len(unique_values)
    if nr_values < 12:
        print('The numbers of values for feature {} :{}--{}'.format(column, nr_values, unique_values))
    else:
        print('The numbers of values for feature {} :{}'.format(column, nr_values))