In [1]:
#Output an empty data frame
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
data_set = {
    "car": ["Tesla", "Audi", "Jeep"],
    "Year": [2019, 2018, 2022],
    "Model": ["China", "Japan", "Korea"]
}
df = pd.DataFrame(data_set)

df

     car  Year  Model
0  Tesla  2019  China
1   Audi  2018  Japan
2   Jeep  2022  Korea

In [3]:
df.car

0    Tesla
1     Audi
2     Jeep
Name: car, dtype: object

In [4]:
first_item = df.iloc[0]
print(first_item)

car      Tesla
Year      2019
Model    China
Name: 0, dtype: object

In [5]:
df = pd.Series(data_set)
df

car        [Tesla, Audi, Jeep]
Year        [2019, 2018, 2022]
Model    [China, Japan, Korea]
dtype: object

In [6]:
data = {'Monday': '2023-07-03',
        'Tuesday': '2023-07-04',
        'Wednesday': '2023-07-05',
        'Thursday': '2023-07-06',
        'Friday': '2023-07-07'}

# Create a Pandas Series from the dictionary
series = pd.Series(data)

# Print the Series
print(series)

Monday       2023-07-03
Tuesday      2023-07-04
Wednesday    2023-07-05
Thursday     2023-07-06
Friday       2023-07-07
dtype: object

In [7]:
from datetime import datetime

# Dictionary containing days and dates
data = {'Monday': '2023-07-03',
        'Tuesday': '2023-07-04',
        'Wednesday': '2023-07-05',
        'Thursday': '2023-07-06',
        'Friday': '2023-07-07'}

# Create a Pandas Series from the dictionary
series = pd.Series(data)

# Convert the dates to the desired format
series = series.apply(lambda x: datetime.strptime(x, '%Y-%m-%d').strftime('%Y/%m/%d'))

# Print the Series
print(series)

Monday       2023/07/03
Tuesday      2023/07/04
Wednesday    2023/07/05
Thursday     2023/07/06
Friday       2023/07/07
dtype: object

In [8]:
# Dictionary containing days and dates
data = {'Monday': '2023-07-03',
        'Tuesday': '2023-07-04',
        'Wednesday': '2023-07-05',
        'Thursday': '2023-07-06',
        'Friday': '2023-07-07'}

# Filter data for Monday and Tuesday
filtered_data = {key: value for key, value in data.items() if key in ['Monday', 'Tuesday']}

# Create a Pandas Series from the filtered data
series = pd.Series(filtered_data)

# Print the Series
print(series)

Monday     2023-07-03
Tuesday    2023-07-04
dtype: object

In [9]:
serie = {data['Monday'], data['Tuesday']}
print(serie)

{'2023-07-04', '2023-07-03'}