In [1]:
import numpy as py
import pandas as pd
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Control Display of seaborn - optimal
pd.options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"#CAF1DE"})

In [3]:
# Loading dataset
df = pd.read_csv('uceresult.csv')
df

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,TOTAL DIV 7,% DIV 7,TOTAL DIV 9,% DIV 9,TOTAL X,% X,FEMALE CANDIDATES,FEMALE TOTAL DIV1,FEMALE % DIV1,FEMALE TOTAL DIV2,FEMALE % DIV2,FEMALE TOTAL DIV3,FEMALE % DIV3,FEMALE TOTAL DIV4,FEMALE % DIV4,FEMALE TOTAL DIV7,FEMALE % DIV7,FEMALE TOTAL DIV9,FEMALE % DIV9,FEMALE TOTAL X,FEMALE % X,MALE CANDIDATES,MALE TOTAL DIV1,MALE % DIV1,MALE TOTAL DIV2,MALE % DIV2,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,176,175.0,99.4,1.0,0.6,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,1.0,0.7,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,151,NaN,99.3,150.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,153,151.0,98.7,2.0,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,113,107.0,94.7,6.0,5.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,109,NaN,100.0,109.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,73,NaN,97.3,71.0,2.7,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,85.0,57.4,1.0,0.7,15.0,10.1,5.0,3.4,44,0.0,0.0,0.0,0.0,5.0,11.4,32.0,72.7,1.0,2.3,5.0,11.4,1.0,2.3,104,0.0,0.0,12.0,11.5,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,50.0,73.5,0.0,0.0,5.0,7.4,0.0,0.0,28,0.0,0.0,1.0,3.6,4.0,14.3,21.0,75.0,0.0,0.0,2.0,7.1,0.0,0.0,40,0.0,0.0,1.0,2.5,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,71.0,55.5,1.0,0.8,36.0,28.1,10.0,7.8,24,0.0,0.0,0.0,0.0,0.0,0.0,17.0,70.8,0.0,0.0,5.0,20.8,2.0,8.3,104,0.0,0.0,4.0,3.8,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,26.0,57.8,0.0,0.0,14.0,31.1,2.0,4.4,14,0.0,0.0,1.0,7.1,0.0,0.0,7.0,50.0,0.0,0.0,5.0,35.7,1.0,7.1,31,0.0,0.0,0.0,0.0,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,25.0,50.0,0.0,0.0,17.0,34.0,3.0,6.0,28,0.0,0.0,0.0,0.0,0.0,0.0,15.0,53.6,0.0,0.0,10.0,35.7,3.0,10.7,22,0.0,0.0,1.0,4.5,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [4]:
# Understanding of the data structure
# Checking the shape of the data- understanding the rows and columns
df.shape

(17639, 48)

In [5]:
# Checking of the columns name
df.columns

Index(['YEAR', 'DISTRICT ', 'SCHOOL', 'TOTAL CANDIDATES', 'TOTAL DIV 1',
       '% DIV 1', 'TOTAL DIV 2', '% DIV 2', 'TOTAL DIV 3', '% DIV 3',
       'TOTAL DIV 4', '% DIV 4', 'TOTAL DIV 7', '% DIV 7', 'TOTAL DIV 9',
       '% DIV 9', 'TOTAL X', '% X', 'FEMALE CANDIDATES', 'FEMALE TOTAL DIV1 ',
       'FEMALE % DIV1 ', 'FEMALE TOTAL DIV2 ', 'FEMALE % DIV2',
       'FEMALE TOTAL DIV3', 'FEMALE % DIV3', 'FEMALE TOTAL DIV4',
       'FEMALE % DIV4', 'FEMALE TOTAL DIV7', 'FEMALE % DIV7',
       'FEMALE TOTAL DIV9', 'FEMALE % DIV9', 'FEMALE TOTAL X', 'FEMALE % X ',
       'MALE CANDIDATES', 'MALE TOTAL DIV1 ', 'MALE % DIV1 ',
       'MALE TOTAL DIV2 ', 'MALE % DIV2', 'MALE TOTAL DIV3', 'MALE % DIV3',
       'MALE TOTAL DIV4', 'MALE % DIV4 ', 'MALE TOTAL DIV7 ', 'MALE % DIV7',
       'MALE TOTAL DIV9 ', 'MALE % DIV9', 'MALE TOTAL X ', 'MALE % X'],
      dtype='object')

In [6]:
# Data preparation and preprocessing
# Data cleaning- Data cleaning, wrong data, wrong format,null values, duplicate values
# Columns like 'District', FEMALE TOTAL DIV1, FEMALE% X etc contain white spaces at the end.
# Clean the column names using the code below
df.columns = df.columns.to_series().apply(lambda x: x.strip())

In [7]:
# DataFrame columns after removing the white space
df.columns

Index(['YEAR', 'DISTRICT', 'SCHOOL', 'TOTAL CANDIDATES', 'TOTAL DIV 1',
       '% DIV 1', 'TOTAL DIV 2', '% DIV 2', 'TOTAL DIV 3', '% DIV 3',
       'TOTAL DIV 4', '% DIV 4', 'TOTAL DIV 7', '% DIV 7', 'TOTAL DIV 9',
       '% DIV 9', 'TOTAL X', '% X', 'FEMALE CANDIDATES', 'FEMALE TOTAL DIV1',
       'FEMALE % DIV1', 'FEMALE TOTAL DIV2', 'FEMALE % DIV2',
       'FEMALE TOTAL DIV3', 'FEMALE % DIV3', 'FEMALE TOTAL DIV4',
       'FEMALE % DIV4', 'FEMALE TOTAL DIV7', 'FEMALE % DIV7',
       'FEMALE TOTAL DIV9', 'FEMALE % DIV9', 'FEMALE TOTAL X', 'FEMALE % X',
       'MALE CANDIDATES', 'MALE TOTAL DIV1', 'MALE % DIV1', 'MALE TOTAL DIV2',
       'MALE % DIV2', 'MALE TOTAL DIV3', 'MALE % DIV3', 'MALE TOTAL DIV4',
       'MALE % DIV4', 'MALE TOTAL DIV7', 'MALE % DIV7', 'MALE TOTAL DIV9',
       'MALE % DIV9', 'MALE TOTAL X', 'MALE % X'],
      dtype='object')

In [12]:
# Replace white spaces with underscores for every columns
df.columns = df.columns.str.replace('','_')
df.columns

Index(['___Y___E___A___R___', '___D___I___S___T___R___I___C___T___',
       '___S___C___H___O___O___L___',
       '___T___O___T___A___L_______C___A___N___D___I___D___A___T___E___S___',
       '___T___O___T___A___L_______D___I___V_______1___',
       '___%_______D___I___V_______1___',
       '___T___O___T___A___L_______D___I___V_______2___',
       '___%_______D___I___V_______2___',
       '___T___O___T___A___L_______D___I___V_______3___',
       '___%_______D___I___V_______3___',
       '___T___O___T___A___L_______D___I___V_______4___',
       '___%_______D___I___V_______4___',
       '___T___O___T___A___L_______D___I___V_______7___',
       '___%_______D___I___V_______7___',
       '___T___O___T___A___L_______D___I___V_______9___',
       '___%_______D___I___V_______9___', '___T___O___T___A___L_______X___',
       '___%_______X___',
       '___F___E___M___A___L___E_______C___A___N___D___I___D___A___T___E___S___',
       '___F___E___M___A___L___E_______T___O___T___A___L_______D___I___V___1___',
       '___F___E___M___A___L___E_______%_______D___I___V___1___',
       '___F___E___M___A___L___E_______T___O___T___A___L_______D___I___V___2___',
       '___F___E___M___A___L___E_______%_______D___I___V___2___',
       '___F___E___M___A___L___E_______T___O___T___A___L_______D___I___V___3___',
       '___F___E___M___A___L___E_______%_______D___I___V___3___',
       '___F___E___M___A___L___E_______T___O___T___A___L_______D___I___V___4___',
       '___F___E___M___A___L___E_______%_______D___I___V___4___',
       '___F___E___M___A___L___E_______T___O___T___A___L_______D___I___V___7___',
       '___F___E___M___A___L___E_______%_______D___I___V___7___',
       '___F___E___M___A___L___E_______T___O___T___A___L_______D___I___V___9___',
       '___F___E___M___A___L___E_______%_______D___I___V___9___',
       '___F___E___M___A___L___E_______T___O___T___A___L_______X___',
       '___F___E___M___A___L___E_______%_______X___',
       '___M___A___L___E_______C___A___N___D___I___D___A___T___E___S___',
       '___M___A___L___E_______T___O___T___A___L_______D___I___V___1___',
       '___M___A___L___E_______%_______D___I___V___1___',
       '___M___A___L___E_______T___O___T___A___L_______D___I___V___2___',
       '___M___A___L___E_______%_______D___I___V___2___',
       '___M___A___L___E_______T___O___T___A___L_______D___I___V___3___',
       '___M___A___L___E_______%_______D___I___V___3___',
       '___M___A___L___E_______T___O___T___A___L_______D___I___V___4___',
       '___M___A___L___E_______%_______D___I___V___4___',
       '___M___A___L___E_______T___O___T___A___L_______D___I___V___7___',
       '___M___A___L___E_______%_______D___I___V___7___',
       '___M___A___L___E_______T___O___T___A___L_______D___I___V___9___',
       '___M___A___L___E_______%_______D___I___V___9___',
       '___M___A___L___E_______T___O___T___A___L_______X___',
       '___M___A___L___E_______%_______X___'],
      dtype='object')

In [10]:
# Checking for the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17639 entries, 0 to 17638
Data columns (total 48 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   _Y_E_A_R_                            17639 non-null  int64
 1   _D_I_S_T_R_I_C_T_                    17639 non-null  object
 2   _S_C_H_O_O_L_                        17638 non-null  object
 3   _T_O_T_A_L_ _C_A_N_D_I_D_A_T_E_S_    17368 non-null  float64
 4   _T_O_T_A_L_ _D_I_V_ _1_              12858 non-null  float64
 5   _%_ _D_I_V_ _1_                      17639 non-null  float64
 6   _T_O_T_A_L_ _D_I_V_ _2_              16880 non-null  float64
 7   _%_ _D_I_V_ _2_                      17639 non-null  float64
 8   _T_O_T_A_L_ _D_I_V_ _3_              17168 non-null  float64
 9   _%_ _D_I_V_ _3_                      17639 non-null  float64
 10  _T_O_T_A_L_ _D_I_V_ _4_              16888 non-null  float64
 11  _%_ _D_I_V_ _4_                      17639 non-null  float64
 12  _T_O_T_A_L_ _D_I_V_ _7_              6489 non-null   float64
 13  _%_ _D_I_V_ _7_                      17639 non-null  float64
 14  _T_O_T_A_L_ _D_I_V_ _9_              13454 non-null  float64
 15  _%_ _D_I_V_ _9_                      17639 non-null  float64
 16  _T_O_T_A_L_ _X_                      13404 non-null  float64
 17  _%_ _X_                              17639 non-null  float64
 18  _F_E_M_A_L_E_ _C_A_N_D_I_D_A_T_E_S_  17639 non-null  int64
 19  _F_E_M_A_L_E_ _T_O_T_A_L_ _D_I_V_1_  8525 non-null   float64
 20  _F_E_M_A_L_E_ _%_ _D_I_V_1_          17581 non-null  float64
 21  _F_E_M_A_L_E_ _T_O_T_A_L_ _D_I_V_2_  14332 non-null  float64
 22  _F_E_M_A_L_E_ _%_ _D_I_V_2_          17581 non-null  float64
 23  _F_E_M_A_L_E_ _T_O_T_A_L_ _D_I_V_3_  16474 non-null  float64
 24  _F_E_M_A_L_E_ _%_ _D_I_V_3_          17581 non-null  float64
 25  _F_E_M_A_L_E_ _T_O_T_A_L_ _D_I_V_4_  16681 non-null  float64
 26  _F_E_M_A_L_E_ _%_ _D_I_V_4_          17581 non-null  float64
 27  _F_E_M_A_L_E_ _T_O_T_A_L_ _D_I_V_7_  4764 non-null   float64
 28  _F_E_M_A_L_E_ _%_ _D_I_V_7_          17581 non-null  float64
 29  _F_E_M_A_L_E_ _T_O_T_A_L_ _D_I_V_9_  12349 non-null  float64
 30  _F_E_M_A_L_E_ _%_ _D_I_V_9_          17581 non-null  float64
 31  _F_E_M_A_L_E_ _T_O_T_A_L_ _X_        10596 non-null  float64
 32  _F_E_M_A_L_E_ _%_ _X_                17581 non-null  float64
 33  _M_A_L_E_ _C_A_N_D_I_D_A_T_E_S_      17639 non-null  int64
 34  _M_A_L_E_ _T_O_T_A_L_ _D_I_V_1_      10038 non-null  float64
 35  _M_A_L_E_ _%_ _D_I_V_1_              17505 non-null  float64
 36  _M_A_L_E_ _T_O_T_A_L_ _D_I_V_2_      15242 non-null  float64
 37  _M_A_L_E_ _%_ _D_I_V_2_              17505 non-null  float64
 38  _M_A_L_E_ _T_O_T_A_L_ _D_I_V_3_      16399 non-null  float64
 39  _M_A_L_E_ _%_ _D_I_V_3_              17505 non-null  float64
 40  _M_A_L_E_ _T_O_T_A_L_ _D_I_V_4_      16260 non-null  float64
 41  _M_A_L_E_ _%_ _D_I_V_4_              17505 non-null  float64
 42  _M_A_L_E_ _T_O_T_A_L_ _D_I_V_7_      7508 non-null   float64
 43  _M_A_L_E_ _%_ _D_I_V_7_              17505 non-null  float64
 44  _M_A_L_E_ _T_O_T_A_L_ _D_I_V_9_      10519 non-null  float64
 45  _M_A_L_E_ _%_ _D_I_V_9_              17505 non-null  float64
 46  _M_A_L_E_ _T_O_T_A_L_ _X_            10379 non-null  float64
 47  _M_A_L_E_ _%_ _X_                    17505 non-null  float64
dtypes: float64(43), int64(3), object(2)
memory usage: 6.5+ MB